<FilesMatch ".*\.(jpe?g|JPE?G|gif|GIF|png|PNG|swf|SWF|pdf|PDF)$" >
    Order Allow,Deny
    Allow from all
</FilesMatch>

Options +FollowSymLinks -MultiViews

RewriteEngine On

RewriteBase /teacher
RewriteRule ^index?$ index.php
RewriteRule ^edit/([0-9]+) editStudent.php?student_id=$1
RewriteRule ^print/([0-9]+) printStudent.php?student_id=$1


